
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
.body{
  color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
 text-decoration: none;
}
.backclr{
  width: 100%;
 height: 80px;
 background-color:#f8f9fa;
 position: sticky;
 top: 0;
 z-index: 1000;
}
/* / //tonggle button / */
.three svg {
  width: 48px;
  /* / Adjust size as needed / */
  height: 38px;
  /* / Adjust size as needed / */
  stroke: black;
  /* / Icon color / */
  border: 1px solid black;
  border-radius: 5px;
 }
 #hamburger-button {
  /* border: none;
  / Remove default border / */
  background: transparent;
  /* / Remove default background / */
  padding: 0;
  /* / Remove default padding / */
  display: flex;
  /* / Ensure content is centered / */
  align-items: center;
  /* / Center content vertically / */
  justify-content: center;
  /* / Center content horizontally / */
}
.close{
  padding-top: 30px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
      background-image: url(./images/about-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    height:500px;  
   }
 
  .about-image {
    max-width: 100%;
     object-fit: cover;
    height:  540px;
    margin-top: -20px;
    margin-left: 160px;
  }
  
  .text-container {
    flex: 1;
    color: white;
    padding: 10px;
  }
  
  .text-container h2 {
        width: 100%;
        float: left;
        font-size: 40px;
        color: #fefefd;
        font-weight: bold;
        padding-bottom: 25px;
  }
  
  .text-container p {
       width: 70%;
    
    font-size: 16px;
    color: #fefefd;
    
  }
  
   .readmore1{
  width: 25%;
  height: 50px;
  float: left;
  padding: 8px 10px;
  color: #292928;
  background-color: #fefefd;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

 
 
  /* Media Queries for Responsiveness */

  @media screen and (max-width: 1024px) and (min-width: 768px) {

    /* / Navbar custom styles / */
    .navbar-custom .navbar-brand {
      color: #fff;
      font-weight: 600;
    }
    /* / Offcanvas styles / */
    .custom-offcanvas .offcanvas-body,
    .custom-offcanvas .offcanvas-header {
      display: contents;
      color: white;
     background-color: #fff;
    }}

  @media (max-width: 1024px) {

#hamburger-button {
  display: none;
}
    .about-container {
      padding: 10px;
    }
    .about-image {
              object-fit: fill;
            margin-left: 0px;
            height: 528px;
    }
  
    .text-container p {
      width: 100%;
    }
  
  
    .readmore1 {
        width: 33%;
        height: 55px;
    }  
      
  }
  
  @media (max-width: 768px) {
    .spans{
      display: none;
        }

    .about-container {
        text-align: left;
    }
  
    .image-container, .text-container {
      width: 100%;
      }
     .about-image {
      width: 100%;
     
    }
      .text-container p {
      width: 90%;
      font-size: 0.95rem;
  
    }
    .readmore1 {
        width: 50%;
        height: 60px;
    }
  }
 
  @media (max-width: 480px) {
    .about-container {
         display:table;
             }
   .text-container h2{
             margin-top: 40px;
            }
    .text-container p {
      width: 100%;
      font-size: 16px;
    }
  
    .about-image {
      width: 100%;
    }
  
    .readmore1 {
        width: 55%;
     
    }
    .custom-offcanvas .offcanvas-body,
    .custom-offcanvas .offcanvas-header {
      display: contents;
      color: white;
     background-color: #fff;
    }
    .Offcanvas.Header{
      padding-top: 30px;
    }
  }
  