
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
.body{
  color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
 text-decoration: none;
}

/* / //tonggle button / */
.three svg {
  width: 48px;
  /* / Adjust size as needed / */
  height: 38px;
  /* / Adjust size as needed / */
  stroke: black;
  /* / Icon color / */
  border: 1px solid black;
  border-radius: 5px;
 }
 #hamburger-button {
  /* border: none;
  / Remove default border / */
  background: transparent;
  /* / Remove default background / */
  padding: 0;
  /* / Remove default padding / */
  display: flex;
  /* / Ensure content is centered / */
  align-items: center;
  /* / Center content vertically / */
  justify-content: center;
  /* / Center content horizontally / */
}
.close{
  padding-top: 30px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

/* / Navbar custom styles / */
.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: 600;
}
/* / Offcanvas styles / */
.custom-offcanvas .offcanvas-body,
.custom-offcanvas .offcanvas-header {
  display: contents;
  color: white;
 background-color: #fff;
}}
@media (min-width: 1024px) {
  #hamburger-button {
    display: none;
  }
}
@media (max-width: 768px) {
  .spans{
      display: none;
        }

}
@media (max-width: 480px) {
.custom-offcanvas .offcanvas-body,
.custom-offcanvas .offcanvas-header {
  display: contents;
  color: white;
 background-color: #fff;
}
.Offcanvas.Header{
  padding-top: 30px;
}

}
.background{
  width: 100%;
  height: 500px;
  background-image: url(./images/banner-bg.png);
   background-size: cover;
}

.bannerone {
  width: 70%;
  height: 380px;
   /* border: 1px solid #ccc; */
  margin: 100px auto;
}

.anime{
  width: 40%;
  height: 300px;
  /* border: 1px solid #ccc; */
  background-image: url(./images/banner-img.png);
  background-size:contain;
  background-repeat: no-repeat;
  float: left;

}
.search{
  /* position: relative; */
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding: 20px;

}
.banner_text {
  width: 100%;
  font-size: 16px;
  color: #333;
    margin-bottom: 2rem;
  }

.search_btn {
  width: 170px;
  display: inline-block;
   color: #fff; 
  border: none; 
  cursor: pointer;
}
.search_btn a {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #fefefd;
  background-color: #e42e0c;
  padding : 10px;
  text-align: center;
}
.search_btn :hover{
background-color: #262625;
}
.dropdown {
  width: 200px;
  margin-left: 20px;
  height: 45px;
  font-size: 16px;
  color: #333;
    border: 1px;
    box-shadow: 0px 0px 1px 0px    
}
.dropdown1 {
  width: 200px;
  height: 45px;
  font-size: 16px;
  color: #333;
    border: 0px;
    box-shadow: 0px 0px 1px 0px    
}
.banner_taital {
  width: 100%;
  font-size: 50px;
  color: #262625;
  font-weight: 700;
  margin-bottom: 2rem;
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: -10px;
}
.dropdown.list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* Container styling */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.service {
  width: 145px;
  color: #262625;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: -35px;
}

.service :hover {
  color:#e42e0c ;
}

/* Section Heading */
.container h2 {
  width: 100%;
    float: left;
    font-size: 40px;
    color: #302f2f;
    font-weight: bold;
}
.card{
  border-style: none;
  box-shadow: 0px;
}
/* Section Subtext */
.container .para {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #262625;
  margin-top: -15px;
}
.images{
  width: 100%;
  float: left;
  height:  145px;
}

.card-title {
   
  width: 100%;
  float: left;
  font-size: 19px;
  color: #343434;
  font-weight: bold;
}
.cardbody{
  width: 300px;
}
.card-text {
    width: 100%;
    color: #343434;
    font-size: 15px;
    float: left;
   margin-bottom: 20px;
}

/* Read More Button */
.readmore {
  width: 170px;
  display: inline-block;
   color: #fff; 
  border: none; 
  cursor: pointer;
}
.readmore a {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #fefefd;
  background-color: #e42e0c;
  padding : 10px;
  text-align: center;
}
.readmore :hover{
background-color: #262625;
}
/* .card::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 180px;
  background-image: url('./images/img-5.png');
  background-size: 100%;
  background-repeat: no-repeat;
  left: -120px;
  top: 120px;
}
.card::after {
  content: '';
  position: absolute;
  width: 110px;
  height: 180px;
  background-image: url('./images/img-6.png');
  background-size: 100%;
  background-repeat: no-repeat;
  right: -120px;
  top: 150px;
}  */


/* about section */

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
    background-image: url(./images/about-bg.png);
  background-size:cover;
  background-repeat: no-repeat;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 500px;
 }

.about-image {
  max-width: 100%;
   object-fit: cover;
  height: 543px;
  margin-top: -20px;
  margin-left: 160px;
}

.text-container {
  flex: 1;
  color: white;
  padding: 10px;
}

.text-container h2 {
      width: 100%;
      float: left;
      font-size: 40px;
      color: #fefefd;
      font-weight: bold;
      padding-bottom: 25px;
}

.text-container p {
     width: 73%;
  
  font-size: 16px;
  color: #fefefd;
  
}

 .readmore1{
width: 25%;
height: 50px;
float: left;
padding: 8px 10px;
color: #292928;
background-color: #fefefd;
text-align: center;
font-size: 18px;
margin-top: 30px;
}


 /* Responsive design */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
  .bannerone {
    width: 100%;
    height: 300px;
  }
  .anime {
        height: 250px;
  }
  .search {
    padding: 15px;
  }
  
  .dropdown {
  
    margin-left: 10px;
  }
 
  .banner_taital {
    font-size: 40px;
  }
  .about-container {
    padding: 10px;
  }
  .about-image {
            object-fit: fill;
          margin-left: 0px;
  }

  .text-container p {
    width: 100%;
  }


  .readmore1 {
      width: 33%;
      height: 55px;
  }    
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .bannerone {
    width: 90%;
    height: 250px;
  }
  .anime {
    width: 40%;
    height: 200px;
  }
  .search {
    padding: 15px;
  }
  .search_btn{
    margin-left: 263px;  }
  .dropdown {
    width: 145px;
    margin-left: 5px;
  }
  .dropdown1 {
    width: 145px;
  }
  .banner-title {
    font-size: 2.5rem;
  }


.banner-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.card-img-top {
  height: 200px;
 
}  
.banner-section {
  height: 50vh;
  padding: 0 20px;
}
.banner-title {
font-size: 3rem;
font-weight: bold;

}
.about-container {
  text-align: left;
}

.image-container, .text-container {
width: 100%;
}
.about-image {
width: 100%;

}
.text-container p {
width: 90%;
font-size: 0.95rem;

}
.readmore1 {
  width: 50%;
  height: 60px;
}
}
/* Small devices (smartphones, 480px and up) */
@media only screen and (max-width: 480px) {
  .bannerone {
    width: 100%;
    height: 200px;
  }
  .anime {
    width: 100%;
    height: 240px;
  }
    .dropdowns {
    flex-direction: column;
    margin-left: 0px;

  }
  .dropdown1, .dropdown {
    width: 90%;
    margin: 10px 0;
  }
  .search_btn{
    margin-left: 15px;
  }
  .banner2{
    margin-top: 365px;
  }
  .about-container {
    display:table;
  }
  .service{
    margin-top: 1;
  }
.text-container h2{
        margin-top: 40px;
       }
.text-container p {
 width: 100%;
 font-size: 16px;
}

.about-image {
 width: 100%;
}

.readmore1{
   width: 60%;

}
}
