.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  h2 {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
    text-align: center;
   
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  input,
  textarea {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    color: #2e2e2d;
    background-color: #efefef;
    border-radius: 30px;
    font-size: 16px;
    width: 100%;
  }
  
  textarea {
    height: 80px;
  
  }
  .submit {
    width: 170px;
    margin: 0 auto;
    text-align: center;}

    .submit a {
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #fefefd;
      background-color: #f01c1c;
      padding: 10px;
      margin-top: 20px;
      display: block;
      border-radius: 40px;
  }
  
  .submit :hover {
    background-color: #f0f0f0;
    color: #252525;
  }

  @media (max-width: 600px) {
    .form-container {
      padding: 10px;
    }
  
    input,
    textarea {
      padding: 12px;
    }
  
    button {
      padding: 12px;
    }
  }
  