
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
.body{
  color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
 text-decoration: none;
}

.backclr{
  width: 100%;
 height: 80px;
 background-color:#f8f9fa;
 position: sticky;
 top: 0;
 z-index: 1000;
}
/* / //tonggle button / */
.three svg {
  width: 48px;
  /* / Adjust size as needed / */
  height: 38px;
  /* / Adjust size as needed / */
  stroke: black;
  /* / Icon color / */
  border: 1px solid black;
  border-radius: 5px;
 }
 #hamburger-button {
  /* border: none;
  / Remove default border / */
  background: transparent;
  /* / Remove default background / */
  padding: 0;
  /* / Remove default padding / */
  display: flex;
  /* / Ensure content is centered / */
  align-items: center;
  /* / Center content vertically / */
  justify-content: center;
  /* / Center content horizontally / */
}
.close{
  padding-top: 30px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

/* / Navbar custom styles / */
.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: 600;
}
/* / Offcanvas styles / */
.custom-offcanvas .offcanvas-body,
.custom-offcanvas .offcanvas-header {
  display: contents;
  color: white;
 background-color: #fff;
}}
@media (min-width: 1024px) {
  #hamburger-button {
    display: none;
  }
}
@media (max-width: 768px) {
  .spans{
      display: none;
        }

}
@media (max-width: 480px) {
.custom-offcanvas .offcanvas-body,
.custom-offcanvas .offcanvas-header {
  display: contents;
  color: white;
 background-color: #fff;
}
.Offcanvas.Header{
  padding-top: 30px;
}

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .service {
    width: 145px;
    color: #262625;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: -35px;
  }
  
  .service :hover {
    color:#e42e0c ;
  }
  
  /* Section Heading */
  .container h2 {
    width: 100%;
      float: left;
      font-size: 40px;
      color: #302f2f;
      font-weight: bold;
  }
  .card{
    border-style: none;
    box-shadow: 0px;
  }
  /* Section Subtext */
  .container .para {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #262625;
    margin-top: -15px;
  }
  .images{
    width: 100%;
    float: left;
    height:  145px;
  }
  
  .card-title {
     
    width: 100%;
    float: left;
    font-size: 19px;
    color: #343434;
    font-weight: bold;
  }
  .cardbody{
    width: 300px;
  }
  .card-text {
      width: 100%;
      color: #343434;
      font-size: 15px;
      float: left;
     margin-bottom: 20px;
  }
  
  /* Read More Button */
  .readmore {
    width: 170px;
    display: inline-block;
     color: #fff; 
    border: none; 
    cursor: pointer;
  }
  .readmore a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fefefd;
    background-color: #e42e0c;
    padding : 10px;
    text-align: center;
  }
  .readmore :hover{
  background-color: #262625;
  }

  @media only screen and (max-width: 1024px) {}

  @media only screen and (max-width: 768px) {
    .card-img-top {
        height: 200px;
    }
  }
  @media only screen and (max-width: 480px) {

    .banner2 {
        margin-top: 365px;
    }
    .card-img-top {
        height: 200px;
    }
  }