.body{ font-family: 'Poppins', sans-serif;
  line-height: 1.80857;}
  
  .card .btn-primary {
  background-color: #e42e0c;
  border: none;
}
 
.titles {
  font-size: 35px;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}
.Form.Control{
  overflow: hidden;
}

.animate__slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 0.5s;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
