/*   
  .body{ font-family: 'Poppins', sans-serif;
    line-height: 1.80857;}
    
    .card .btn-primary {
    background-color: #e42e0c;
    border: none;
  }
   
  .title {
    font-size: 35px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
  }
   */
